<div class="assignment_builder">
	<div class="container">
			<div class="hero-unit" style="width: 900px; padding: 20px; text-align:center; margin: 70px auto 30px">
				<h2>Assignment Builder</h2>
			</div>
	
	
			<div class="subcontainer">
			<div class="hero-unit side" style="margin: 0 50px 0 0; height:250px">
				<h2>Assignment</h2><br>
					<p>
						Assignment: <%= @assignment.description%>
					<br> Course: <%= @assignment.course%>
					<br> Due Date: <%= @assignment.due_date.strftime("%m/%d/%Y") %>
					</p>
			</div>

			<div class="hero-unit side" id="current_questions" style="margin:0px; width: 460px; height:250px; overflow: scroll">

				<% Question.find_by_sql("select * from questions where assignment like '%#{@assignment.description}%' and
				course like '%#{@assignment.course}%' and semester like '%#{@assignment.semester}%'").each do |question| %>
				  Question: <%= question.question %>
				  <br>
				  <% if question.is_mc %>
				    A: <%= question.a %>
					<br>
				    B: <%= question.b %>
					<br>
				    C: <%= question.c %>
					<br>
				    D: <%= question.d %>
					<br>
				  <% end %>
				    Answer: <%= question.answer %>
				  <br>
			      <% Question.find_by_sql("select * from questions where question like '%#{question.question}%' and answer like '%#{question.answer}%' and assignment is null and course is null and semester is null").each do |q| %>
				  <% q.destroy %>
				  <% end %>
				  	<%= link_to 'Destroy', question, method: :delete %>
				  <br>
				  <br>
				<% end %>

			</div>
		</div>
		<div class="clearfix"></div>
			<div class="subcontainer_2">
				<div class="hero-unit side" style="margin:20px 50px 0 0">
					<h3>Add New Question</h3>
					<%= form_for(Question.new) do |f| %>
					<br>
					  <div class="question_field">
					    <strong>Question</strong>
					    <%= f.text_field :question, :size => "50x100" %>
					  </div>
					  <br>
					  <div class="field">
						  <div class="mc_radio">
							  &nbsp;&nbsp;&nbsp;&nbsp;<%= f.radio_button(:is_mc, true) %>
							  <%= label_tag(:is_mc, "Multiple Choice") %>
						  </div>
						  <div class="mc_radio">
							  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.radio_button(:is_mc, false) %>
							  <%= label_tag(:is_mc, "Paragraph Answer") %>
						  </div>
					  </div>
					  <br>
					  <div class="mc_answers">
						A: <%= f.text_field :a %>
						<br>
					    B: <%= f.text_field :b %>
						<br>
					    C: <%= f.text_field :c %>
						<br>
					    D: <%= f.text_field :d %>
					  <br>
					  </div>
					  <div class="answer">
					    <strong>Answer</strong><br> (If multiple choice, input "A", "B", "C", or "D" without quotes)<br>
						<%= f.text_field :answer %>
					  </div>
					  <div class="field">
		    			<%= f.hidden_field 'assignment', :value =>  @assignment.description %>
					  </div>
					  <div class="field">
		    			<%= f.hidden_field 'course', :value =>  @assignment.course %>
					  </div>
					  <div class="field">
		    			<%= f.hidden_field 'semester', :value =>  @assignment.semester %>
					  </div>
					  <div class="actions">
					    <%= f.submit %>
					  </div>
					<% end %>
			
					<br> <%= link_to 'Back', assignments_path %>	
				</div>

				<div class="hero-unit side"  id="question_bank" style="margin-top:20px; width: 460px; height:350px; overflow:scroll">
					<h3>Question Bank</h3>
					<br>
					<% Question.find_by_sql("select distinct question, answer, is_mc, a, b, c, d from questions").each do |question| %>
					<% if Question.find_by_sql("select question, answer from questions where question like '%#{question.question}%' and answer like '%#{question.answer}%' and assignment like '%#{@assignment.description}%' and
					course like '%#{@assignment.course}%' and semester like '%#{@assignment.semester}%'").size > 0 %>
						<% next %>
					<% end %>
				
						<div class="question">
			  			<b>Q: <%= question.question %></b>
			  			<br>
			  			<% if question.is_mc %>
			  				A: <%= question.a %>
			  				<br>
			  				B: <%= question.b %>
			  				<br>
			  				C: <%= question.c %>
			  				<br>
			  				D: <%= question.d %>
			  				<br>
			  			<% end %>
			  			<b>A: <%= question.answer %></b>
			  			<br>
			  			</div>
	  			
			  		<%= form_for Question.new do |f| %>
	  				
			  				<div class="field">
		    					<%= f.hidden_field 'question', :value => question.question %>
		    					<%= f.hidden_field 'is_mc', :value => question.is_mc %>
		    					<%= f.hidden_field 'a', :value => question.a %>
		    					<%= f.hidden_field 'b', :value => question.b %>
		    					<%= f.hidden_field 'c', :value => question.c %>
		    					<%= f.hidden_field 'd', :value => question.d %>
		    					<%= f.hidden_field 'answer', :value => question.answer %>
		    					<%= f.hidden_field 'assignment', :value =>  @assignment.description %>
		    					<%= f.hidden_field 'course', :value =>  @assignment.course %>
		    					<%= f.hidden_field 'semester', :value =>  @assignment.semester %>
					  			<%= f.submit "Reuse this Question!"  %>
					  		</div>
			  		<% end %>		  			
					<% end %>
				</div>
			</div>	
	</div>
</div>
<script>
	$('.mc_answers').hide();
$('#question_is_mc_true').click(function() {
	$('.mc_answers').fadeIn();
		
});
$('#question_is_mc_false').click(function() {
	$('.mc_answers').fadeOut();
});
	</script>