<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @answer.question %>
</p>

<p>
  <b>Course:</b>
  <%= @answer.course %>
</p>

<p>
  <b>Semester:</b>
  <%= @answer.semester %>
</p>

<p>
  <b>Answer:</b>
  <%= @answer.answer %>
</p>

<p>
  <b>Is correct:</b>
  <%= @answer.is_correct %>
</p>

<p>
  <b>Student email:</b>
  <%= @answer.student_email %>
</p>


<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
