<% if not user_signed_in? %>
<script type="text/javascript">
  alert("Please sign in first");
  window.location.href="/" 
</script>
<% end %>


<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit courses">
<h2>Courses</h2>
<br>
<table class="course_table" style="width:600px">
  <tr>
    <th style="width:110px">Course code</th>
    <th style="width:300px">Description</th>
    <th style="width:110px">Semester</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% Course.find_by_sql("select * from courses where email like '%#{current_user.email}%'").each do |course| %>
  <tr style="height:30px">
    <td><%= course.course_code %></td>
    <td><%= course.description %></td>
    <td><%= course.semester %></td>
    <td><%= link_to 'Remove', course, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>

</table>
<div class="add_class_div">
	<table>
		<% if current_user.is_instructor == true %>
			<%= form_for(Course.new) do |f| %>
			<tr>
			  <td><%= f.text_field :course_code %></td>
			  <td><%= f.text_field :description %></td>
			    <td><%= f.text_field :semester %></td>
			    <%= f.hidden_field 'email', :value => current_user.email %>
			    <%= f.hidden_field 'name', :value => current_user.name %>
			    <%= f.hidden_field 'is_instructor', :value => current_user.is_instructor %>
			  <td colspan=2><%= f.submit %></td>
			</tr>
			<% end %>
		<% else %>
			<%= form_for(Course.new) do |f| %>
			<tr>
			  <td><%= f.select :course_code, options_from_collection_for_select( Course.find_by_sql("select * from courses where email not like '%#{current_user.email}%'"), :course_code, :course_code) %></td>
			  <td><%= f.select :description, options_from_collection_for_select( Course.find_by_sql("select * from courses where email not like '%#{current_user.email}%'"), :description, :description) %></td>
			   <td><%= f.select :semester, options_from_collection_for_select( Course.find_by_sql("select * from courses where email not like '%#{current_user.email}%'"), :semester, :semester) %></td>
			    <%= f.hidden_field 'email', :value => current_user.email %>
			    <%= f.hidden_field 'name', :value => current_user.name %>
			    <%= f.hidden_field 'is_instructor', :value => current_user.is_instructor %>
			  <td colspan=2><%= f.submit %></td>
			</tr>
			<% end %>
		<% end %>
	</table>
</div>
<br>
<a id="add_class">Add new class</a>

</div>


<% if current_user.is_instructor == false %>
	<div class="hero-unit courses" style="margin: 0 auto 50px;">
	<h2>Assignments</h2>
	<br>
	<table class="course_table" style="width:600px">
	  <tr>
	    <th style="width:100px">Course Code</th>
	    <th style="width:100px">Assignment</th>
	    <th style="width:100px">Due Date</th>
	    <th style="width:100px">Status</th>
	    <th style="width:100px">Grade</th>
	    <th style="width:100px">Complete</th>
	  </tr>

  	<% Course.find_by_sql("select * from courses where email like '%#{current_user.email}%'").each do |course| %>
  	<% Assignment.find_by_sql("select * from assignments where course like '%#{course.course_code}%'").each do |assignment| %>
  	  <tr style="height:30px">
  	    <td><%= assignment.course %></td>
  	    <td><%= assignment.description %></td>
  	    <td><%= assignment.due_date.strftime("%m/%d/%Y") %></td>
  	    <td><% if Answer.find_by_sql("select * from answers where assignment like '%#{assignment.description}%' and
			course like '%#{assignment.course}%' and semester like '%#{assignment.semester}%' and student_email 
				like '%#{current_user.email}%' and is_correct not like 'z'").size == Question.find_by_sql("select * from questions where assignment like '%#{assignment.description}%' and course like '%#{assignment.course}%' and semester like '%#{assignment.semester}%'").size  and (Question.find_by_sql("select * from questions where assignment like '%#{assignment.description}%' and course like '%#{assignment.course}%' and semester like '%#{assignment.semester}%' and is_mc = 't'").size != Question.find_by_sql("select * from questions where assignment like '%#{assignment.description}%' and course like '%#{assignment.course}%' and semester like '%#{assignment.semester}%'").size and Date.today <= assignment.due_date.to_date) %>
			<% status = 'graded' %>
			Graded
			<% elsif Answer.find_by_sql("select * from answers where assignment like '%#{assignment.description}%' and
			course like '%#{assignment.course}%' and semester like '%#{assignment.semester}%' and student_email 
				like '%#{current_user.email}%' ").size ==
				Question.find_by_sql("select * from questions where assignment like '%#{assignment.description}%' and
							course like '%#{assignment.course}%' and semester like '%#{assignment.semester}%'").size %>
			<% status = 'complete' %>
			Complete
			<% elsif Answer.find_by_sql("select * from answers where assignment like '%#{assignment.description}%' and
			course like '%#{assignment.course}%' and semester like '%#{assignment.semester}%' and student_email 
				like '%#{current_user.email}%' ").size > 0 %>
				<% status = 'started' %>
			Started
			<% else %>
			<% status = 'assigned' %>
			Assigned
			<% end %>
  	    <td><% if Question.find_by_sql("select * from questions where assignment like '%#{assignment.description}%' and
							course like '%#{assignment.course}%' and semester like '%#{assignment.semester}%'").size > 0 %>
							<% grade = (Answer.find_by_sql("select * from answers where assignment like '%#{assignment.description}%' and course like '%#{assignment.course}%' and semester like '%#{assignment.semester}%' and student_email like '%#{current_user.email}%' and is_correct = 't'").size.to_f /
				Question.find_by_sql("select * from questions where assignment like '%#{assignment.description}%' and
							course like '%#{assignment.course}%' and semester like '%#{assignment.semester}%'").size.to_f) * 100 %>
			<% assignment.update_attribute(:grade, grade) %><% end %><%= assignment.grade %></td>
		<td><% if Date.today <= assignment.due_date.to_date and status != 'graded' %>
			
			<%= link_to 'Complete', assignment %>
			<% end %></td>
  	  </tr>
  	<% end %>

  	<% end %>

<% else %>
	<div class="hero-unit courses" style="margin: 0 auto 50px;">
	<h2>Assignments</h2>
	<br>
	<table class="course_table" style="width:650px">
	  <tr>
	    <th style="width:100px">Course Code</th>
	    <th style="width:100px">Assignment</th>
	    <th style="width:100px">Due Date</th>
	    <th style="width:200px">Assignment Builder/Grader</th>
	  </tr>

   	<% Course.find_by_sql("select * from courses where email like '%#{current_user.email}%'").each do |course| %>
	<% Assignment.find_by_sql("select * from assignments where course like '%#{course.course_code}%' and semester like '%#{course.semester}%'").each do |assignment| %>
	
	
		  <tr style="height:30px">
		    <td><%= assignment.course %></td>
		    <td><%= assignment.description %></td>
		    <td><%= assignment.due_date.strftime("%m/%d/%Y") %></td>
		    <td><%= link_to 'link', assignment %></td>
		  </tr>
		<% end %>
	<% end %>
<% end %>

</table>

<% if current_user.is_instructor == true %>
	<br>
	<a href="/assignments/new">Create new assignment</a>
<% end %>
</div>
	  
  <hr>

</div> 

<script>
$('.add_class_div').hide();
	$('#add_class').click(function() {
  		$('.add_class_div').fadeToggle();
  	});
</script>