<script>
		$('.assignment_builder').hide();
		$('.assignment_grader').hide();
		</script>


<div class="supercontainer">
<% if Mooc::Application::LOAD_GRADER == "true" %>
	<%= render :partial => 'assignmentbuilder' %>
	<% Mooc::Application.cheat("false") %>
<% elsif Mooc::Application::LOAD_GRADER == "grader" %>
	<%= render :partial => 'assignmentgrader' %>
	<% Mooc::Application.cheat("false") %>
<% else %>
	<% if current_user.is_instructor == true %>
<div class="picker">
	<div class="hero-unit" style="width: 900px; padding: 20px; text-align:center; margin: 70px auto 30px">
		<h1>Assignment Tool</h1><p><%= @assignment.course%> // <%= @assignment.description%> // Due: <%= @assignment.due_date.strftime("%m/%d/%Y") %></p>
	</div>
	<div class="subcontainer">
		<div class="hero-unit side" style="margin: 0 50px 0 100px; height:110px">
			<h2>Assignment Builder</h2>
				<br>
				
			<a id="builder_link">Click to edit this assignment</a>
		</div>			
		<div class="hero-unit side" style="margin: 0 50px 0 0">
			<h2>Assignment Grader</h2>
			<br>
			<a id="grader_link">Click to grade this assignment</a><br>Do not grade before assignment is due
		</div>
	</div>
</div>
</div>

	<% else %>
			<% flag = false %>
	<div class="hero-unit" style="width: 900px; padding: 20px; text-align:center; margin: 70px auto 30px">
		<h2>Complete Assignment </h2> <p><%= @assignment.course%> // <%= @assignment.description%> // Due: <%= @assignment.due_date.strftime("%m/%d/%Y") %></p><a href="/courses">Go back</a> (all submitted answers will be saved)
	</div>
		
	<div class="subcontainer">
	<div class="hero-unit side" style="margin: 0 50px 0 0; width:460px">
		<h3>Questions</h3>
		<p>Submit one at a time</p>
		<% Question.find_by_sql("select * from questions where assignment like '%#{@assignment.description}%' and
		course like '%#{@assignment.course}%' and semester like '%#{@assignment.semester}%'").each do |question| %>
			<% if Answer.find_by_sql("select * from answers where assignment like '%#{@assignment.description}%' and
			course like '%#{@assignment.course}%' and semester like '%#{@assignment.semester}%' and student_email 
			like '%#{current_user.email}%' and question like '%#{question.question}%'").size > 0 %>
				<% next %>
			<% end %>

		  Question: <%= question.question %>
		  <br>
		  <% if question.is_mc %>
		    A: <%= question.a %>
			<br>
		    B: <%= question.b %>
			<br>
		    C: <%= question.c %>
			<br>
		    D: <%= question.d %>
			<br><br>
			Submit answer as "A", "B", "C", or "D" without quotes:
		  <% else %>
		  	Answer:
		  <% end %>
		  <%= form_for(Answer.new) do |f| %>
		  <%= f.hidden_field :question, :value => question.question %>
		      <%= f.hidden_field :course, :value => question.course %>
		      <%= f.hidden_field :semester, :value => question.semester %>
		      <%= f.hidden_field :assignment, :value => question.assignment %>
		      <%= f.text_field :answer %>
		      <%= f.hidden_field :is_correct, :value => 'z' %>
		      <%= f.hidden_field :student_email, :value => current_user.email %>
		    <div class="actions">
		      <%= f.submit "Submit Answer" %>
		    </div>
		  <% end %>
		<% end %>

	</div>

	<div class="hero-unit side" style="margin:0px">
		<h3>Submitted Answers </h3><br>
		<% Answer.find_by_sql("select * from answers where assignment like '%#{@assignment.description}%' and
		course like '%#{@assignment.course}%' and semester like '%#{@assignment.semester}%' and student_email 
			like '%#{current_user.email}%' ").each do |a| %>

		    <strong>Question</strong>: <%= a.question %>
		 	<br>

		    <strong>Submitted Answer</strong>: <%= a.answer %>
			<% Question.find_by_sql("select * from questions where question like '%#{a.question}%' and
			is_mc = 't'").each do |q| %>
				<% Question.find_by_sql("select #{a.answer} from questions where question like '%#{a.question}%' and
				is_mc = 't'").each do |q2| %>
					(<%= q2.send("#{a.answer}".downcase) %>)
				<% end %>
				
			<% end %>
			<br>
			<%= link_to 'Change Answer', a, method: :delete %>
			<br><br>
			
		<% end %>
			
	</div>
</div>
<div class="clearfix"></div>
	<% end %>
	<% end %>
	
	<script>
	
	$('#grader_link').click(function() {
		$('.supercontainer').html("<%= escape_javascript(render(:partial => 'assignmentgrader')) %>");
		
  	});
	
	$('#builder_link').click(function() {
		$('.supercontainer').html("<%= escape_javascript(render(:partial => 'assignmentbuilder')) %>");
  	});

	
</script>
